.modal.add-monitor
  .dialog
    %header
      %h3 Add Monitor
      %span.close &times;
    .body
      %form(id="add_monitor_form" method="post" action="/dependencies")
        %div
          %label Service Type:
          %select.type(id="service_type_select" name="service_type")
            - service_types.each do |service_type|
              %option #{service_type}
        %div
          %label Group:
          %select(id="group_select" name="group_id")
            - groups.each do |group|
              %option(value="#{group.id}" ) #{group.name}
        %div
          %label Title:
          %input(type="text" id="monitor_title" name="monitor_title" )
        %div
          %label Description:
          %textarea(id="monitor_description" name="monitor_description" )
        .monitor-section.add-url
          = partial :'layouts/add_url_monitor'
        .monitor-section.add-database
          = partial :'layouts/add_db_monitor', locals:{db_types:db_types}
        .monitor-section.add-soap
          = partial :'layouts/add_soap_monitor'
        .monitor-section.add-rest
          = partial :'layouts/add_rest_monitor'
        .monitor-section.add-mq
          = partial :'layouts/add_message_queue_monitor'

    %footer
      %button.submit(onclick="submit_form('add_monitor_form')" ) Add
.modal.add-group
  .dialog
    %header
      %h3 Add Group
      %span.close &times;
    .body
      %form(method="post" action="/groups" id="add_group_form" )
        %div
          %label Region Name:
          %input(type="text" name="group_name" )
    %footer
      %button.submit(onclick="submit_form('add_group_form')") Add