!!! 5
.container
  %header
    %h1 Enterprise Dependency Dashboard
    %h2 Monitor all the dependencies in your project.
  %nav
    %button.show-monitor Add Monitor
    %button.show-group Add Region
    %button.refresh(onclick="refresh_url_monitor()" ) Refresh
  .main
    - if @groups !=nil
      - @groups.each do |group|
        .box.active
          %h3 #{group.name}
          %a.setting{:href => "#"}
          .setting-menu
            %a{:href => "#"} Edit
            %a{:href => "/groups/#{group.id}/delete"} Delete
          .content
            - group.url_dependencies.each do |url_dependency|
              %section.monitor.icon.url.success(id="url_dependency_monitor_#{url_dependency.id}" )
                %h4 #{url_dependency.name}
            - group.soap_dependencies.each do |soap_dependency|
              %section.monitor.icon.soap.success(id="soap_dependency_monitor_#{soap_dependency.id}" )
                %h4 #{soap_dependency.name}

= partial :'layouts/modal-add', locals: {service_types: @service_types, groups:@groups, db_types:@db_types}
= partial :'layouts/modal-monitor'